#About {
  margin-top: 8rem;
}
.About-waraper {
  display: grid;
  grid-template-columns: 40% 55%;
  gap: 3rem;
}
.about-card-left img {
  border-radius: 0.5rem;
  z-index: 1;
}
.about-card-left {
  position: relative;
}
.left-card {
  background-color: var(--orange);
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  top: 70%;
  right: -1rem;
  position: absolute;
  z-index: -1;
}
.about-card-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* background-color: aqua; */
}
.about-card-right h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.about-card-right h2 {
  font-style: bold;
  font-size: 30px;
}
.about-card-right span {
  color: var(--orange);
}
.about-card-right p {
  font-size: 15px;
}
.btn {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--orange);
  width: 300px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  transition: all 400ms ease-in-out;
}
.btn:hover{
  background-color: var(--orange);
}
/* ======================================= Media queries for Tablet Mode ===================================== */
@media screen AND (max-width: 1280px) {
  .container {
    width: var(--md-screen);
    margin: 0 auto;
  }

  .About-waraper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
/* ======================================= Media queries for Phone Mode ===================================== */
@media screen AND (max-width: 600px) {
  .container {
    width: var(--sm-screen);
    margin: 0 auto;
  }

  .About-waraper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .btn {
    width: 100%;
  }
}

/* ================================ Courses ========================== */
#courses {
  margin-top: 3rem;
}
.courses-button {
  margin-bottom: 3rem;
}
.courses-co-wraper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.course-header-container {
  display: flex;
  justify-content: space-between;
}
.courses-button ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.courses-button ul li {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #d9d9d9;
  cursor: pointer;
}
.courses-button ul li:nth-child(1) {
  background-color: var(--orange);
}
.courses-card-wraper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.courses-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  /* padding: 1rem 2rem; */
  border-radius: 0.5rem;
}
.courses-card hr {
  width: 92%;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  /* padding: 0.5 1rem; */
}
.course-owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.course-img {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.courses-img img {
  border-radius: 0.5rem 0.5rem 0 0;
}
.course-img img {
  height: 5vh;
  width: 3vw;
  border-radius: 50%;
  object-fit: cover;
  /* aspect-ratio: 1/-1; */
}
.courses-paragraphy {
  padding: 0 1rem;
}
.course-text p {
  color: var(--orange);
}
.course-rating {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.star span {
  color: var(--orange);
}

/* ======================================= Media queries for Tablet Mode ===================================== */
@media screen AND (max-width: 1280px) {
  .container {
    width: var(--md-screen);
    margin: 0 auto;
  }
  .course-header-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .courses-card-wraper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .course-img img {
    height: 2.5vh;
    width: 3vw;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}
/* ======================================= Media queries for Phone Mode ===================================== */
@media screen AND (max-width: 600px) {
  .container {
    width: var(--sm-screen);
    margin: 0 auto;
  }
  .course-header-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .courses-card-wraper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .course-img img {
    height: 2vh;
    background-color: aqua;
    width: 3vw;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .courses-button ul {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}


/* ===================================== Testimoniols ================================ */
#Testmoniols{
  margin-top: 6rem;
}
#Testmoniols span{
  color: var(--orange);
}
#Testmoniols h2,h4{
  text-align: center;
}