header {
  background: linear-gradient(to right, #272727, #d9d9d9);
  background-image: url(../../assets/mentor.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  margin-top: 6.5rem;
}
.mentorHeader-Wraper {
  position: relative;
}
.mentor-card {
  position: absolute;
  padding: 3rem 4rem;
  background-color: var(--white);
  width: 60vw;
  border-radius: 1rem;
  margin-top: 5rem;
  right: 0;
  margin-top: 7rem !important;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mentor-search {
  background-color: var(--bg-color);
  width: 70%;
  /* padding: 1rem 2rem; */
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mentor-search input[type="text"] {
  height: 40px;
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem 2rem;
}
.mentor-search input[type="button"] {
  background: var(--black);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--white);
  padding: 0.7rem 1.5rem;
}
.dDetails h3{
  font-size: 14px;
  margin-top: 1rem;
}
.dDetails p{
  font-size: small;
}
.discover-header {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.discover-arrow {
  display: flex;
  gap: 2rem;
}
.discover-mentor-wraper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.discover-card-wraper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.discover-cardi {
  background-color: var(--white);
  border-radius: 0.5rem;
  height: 300px;
}
.dimage-container {
  height: 100%;
  border-radius: 0.5rem;
}
.dimage-container img {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mentor-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--orange);
  border-radius: 0.5rem;
  height: 30vh;
  padding: 0 5rem 0 0;
}
.brandi {
  margin-top: 8rem;
}
.brand-img {
  height: 100%;
}
.mentor-brand .mentor-search {
  width: 30vw;
}
.chua {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

@media screen AND (max-width: 1024px) {
  .container{
    width: var(--md-screen);
    margin: 0 auto;
  }
  header{
    height: 70vh;
  }
  .mentor-card{
    width: 100%;
  }
  .mentor-search{
    width: 80%;
  }
  .discover-card-wraper{
    grid-template-columns: repeat(2,1fr);
  }
  .mentor-brand{
   flex-direction: column;
   padding: 4rem 0;
  }
  .mentor-brand .brand-img{
    display: none;
  }
  .mentor-brand .mentor-search {
  width: 60vw;
}
}
@media screen AND (min-width: 300px)  AND (max-width: 600px){
  .container{
    width: var(--sm-screen);
    margin: 0 auto;
  }
  header{
    height: 80vh;
  }
  .mentor-card{
    width: 100%;
    padding: 1.5rem 2rem;
  }
  .mentor-search{
    width: 100%;
  }
  .discover-card-wraper{
    grid-template-columns: repeat(1,1fr);
    gap: 4rem;
  }
  .mentor-brand{
   flex-direction: column;
   padding: 3rem 2rem;
  }
  .mentor-brand .brand-img{
    display: none;
  }
  .mentor-brand .mentor-search {
  width: 100%;
}
.discover-header h3{
  font-size: 13px;
}
}
